<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <div class="logo-header"></div>
</header>
<div class="container">
    <div class="logo"></div>
    <div>
        <div class="bank-name">Malikov Bank</div>
        <div style="display: flex; flex-direction: column">
            <input type="text" placeholder="Login">
            <input type="password" placeholder="Password">
        </div>
        <button class="btn btn-login"> Войти </button>
        <button class="btn btn-register"> Регистрация </button>
    </div>
</div>
</body>
</html>
